/* General Table Styling */
.container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.container th, .container td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.container th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.container tr:hover {
    background-color: #f9f9f9;
}

/* Container and Alignment for Total Price and Links */
.container p, .container div {
    font-size: 18px;
    line-height: 1.6;
}


/* Footer Text */
footer .site-footer__sidebar {
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 16px;
    text-align: center;
}

footer .site-footer__title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
